h1 Adicionar currículo

- if @curriculum.errors.present?
  div.errors
    p
      strong= _('Oops, não foi possível adicionar o este currículo!')
    ul
      - @curriculum.errors.full_messages.each do |e|
        li== e
- else

  p
    .badge 1
    a href=doc_path('lattes-export') Exportar currículo no Lattes

  p
    .badge 2
    ' Fazer upload no Librelattes

= form_for @curriculum, html: { multipart: true }

  .upload
    .file-explanation= _('Currículo Lattes (.xml ou .zip)')
    .file-select
      = file_field_tag :data

  = submit_tag _('Fazer upload')
