h1= @curriculum.name

p
  a.download href=curriculum_path(@curriculum, format: 'xml')
    span
    '  Download XML

blockquote= @curriculum.abstract

/ FIXME
div.alert.alert-warning
  p
    strong= _('Em construção!')
    == '&nbsp;'
    = _('Mais informações do currículo serão exibidas em breve!')
