- unless @curriculums
  .welcome-message
    h1= _('Bem-vindo ao Librelattes')
    p== _('O Librelattes é uma iniciativa para criar uma base de dados alternativa, e principalmente aberta, de currículos. Para participar, você pode <a href="%s">exportar o seu currículo na plataforma Lattes</a>, e fazer o <a href="%s">upload</a> dele aqui.') % [doc_path('lattes-export'), new_curriculum_path]

div.search

  h2= _('Buscar currículos')
  - if @curriculum_count
    = _('Currículos disponíveis: %d') % @curriculum_count

  = form_tag({}, method: 'get', enforce_utf8: false)
    = text_field_tag :q, params[:q]

    .buttons

      = submit_tag _('Buscar'), name: nil
      = submit_tag _('Estou com sorte'), name: 'feeling_lucky', title: _('Redireciona você para o primeiro currículo que case com a sua busca')

- if @curriculums
  .results

    .summary
      = _('Currículos encontrados: %d') % @curriculums.count

    - @curriculums.each do |curriculum|
      div.curriculum
        .name= link_to curriculum.name, curriculum_path(curriculum)
        .abstract= curriculum.abstract
