h1 Exportando o seu currículo Lattes

p
  .badge 1

  | Acesse o 
  a href="http://lattes.cnpq.br" target="_blank" site de atualização do currículo Lattes
  | , e procure a opção “Atualizar currículo”.


a href="http://lattes.cnpq.br" target="_blank"

  = image_tag 'lattes-01.png'

p
  .badge 2

  span Entre com o seu CPF e sua senha do sistema Lattes

= image_tag 'lattes-02.png'

p
  .badge 3
  span Selecione a a opção "Exportar" na barra lateral à esquerda

= image_tag 'lattes-03.png'

p
  .badge 4
  span Escolha a opção "XML" para exportação

= image_tag 'lattes-04.png'

p
  .badge 5
  span Salve o arquivo fornecido pelo Lattes, e faça o upload na base de dados do Librelattes

.upload-link

  = link_to _('Fazer upload no Librelattes'), new_curriculum_path
