h1 Termos de Uso

p Ao usar o Librelattes, você está implicitamente aceitando os seguintes termos
  de uso. No texto, abaixo, VOCÊ se refere a todo usuário do Librelattes, e NÓS
  se refere à equipe responsáve pelo Librelattes.

h2 1. Direitos e obrigações do usuário

p 1.1. VOCÊ se compromete a fornece apenas informações verdadeiras.

p 1.2. VOCÊ se compromete a fornecer apenas suas próprias informações, ou informações este já estejam públicas de qualquer forma.

h2 2. Direitos e obrigações da equipe Librelattes

p 2.1. NÓS não divulgaremos informações que o Lattes também não divulga. Isto inclui, mas não está limitado, a:

ol type='a'
  li endereço residencial;
  li telefone residencial;
  li filiação;
  li ano de nascimento;
  li CPF;
  li sexo;
  li cor ou raça;
  li identidade;
  li passaporte e
  li endereços eletrônicos.

p 2.1.1. Estas informações estão presentes nos arquivos exportados pelo Lattes, e são armazenadas no Librelattes.

p 2.2.2. O arquivo XML exportado pelo Librelattes tem estas informações removidas automaticamente antes da exportação.

h2 3. Sobre estes termos de uso

p 3.1 Novas versões deste termo de uso podem ser publicadas pela equipe do
  Librelattes, e passarão a valer, inclusive retroativamente, para usuários que
  tenham aceito versões anteriores.

p 3.2 NÓS nos comprometemos a não fazer mudanças nos termos de
  uso que restrinjam o acesso aos dados hospedados, ou o seu uso.
