@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap/theme"

html
  position: relative
  min-height: 100%

body
  margin-bottom: 100px

footer
  position: absolute
  bottom: 0
  width: 100%
  margin-bottom: 0px
  padding: 10px
  height: 60px
  @extend .navbar
  @extend .navbar-default

@import "*"
