.welcome-message
  @extend .jumbotron

.search

  input[type=text]
    @extend .form-control
    @extend .input-lg

  .buttons

    text-align: center
    margin-top: 20px

    input
      @extend .btn
      @extend .btn-default
      margin-left: 10px
      margin-right: 10px

  .results
    margin-top: 40px

  .results

    .summary
      @extend .panel
      @extend .panel-default
      font-style: italic
      padding: 1em

    .curriculum
      @extend .panel
      @extend .panel-default
      padding: 1em
      .name
        font-weight: bold
